docker-compose up --build

services:
  db: { ... , profiles: ["dev","prod"] }
  backend: { ... , profiles: ["dev"] }
  frontend: { ... , profiles: ["dev"] }
  proxy: { ... , profiles: ["dev","prod"] }