body {
  font-family: "Press Start 2P", system-ui;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: rgb(255, 255, 255, 0.85);
  overflow: hidden;
}

.gameArea {
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: rgb(7, 26, 29, 0.6);
  top: 256px;
  border: #919bebc7 10px solid;
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  transform: perspective(1000px) rotateX(34deg) scaleX(0.39) scaleY(0.6);
}

.bg {
  position: absolute;
  height: 1000px;
  z-index: -1;
}

.paddle {
  position: absolute;
  height: 100px;
  width: 20px;
  background: rgba(255, 255, 255, 0.9);
  top: 150px;
}

.paddle2 {
  right: 0px;
}

.ball {
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30%;
  left: 290px;
  top: 190px;
  box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.9); /* change the state*/
  /* box-shadow: 4px 20px 14px rgba(0, 0, 0, 0.9); change the like shadow throwght the field state */
}

.net {
  position: absolute;
  border-right: 8px rgba(255, 255, 255, 0.3) dotted;
  height: 96%;
  top: 2%;
  left: calc(50% - 4px);
}

.title {
  position: absolute;
  top: 15rem;
  font-size: 26px;
}

.score {
  position: absolute;
  top: 240px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.player1Score {
  left: calc(50% - 154px);
}

.player2Score {
  right: calc(50% - 154px);
}

.startPress {
  position: absolute;
  margin: 0;
  top: 85%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #222222;
  opacity:80%;
  border-radius: 4px;
  padding: 10px;
}

.vignett {
  height: 100dvh;
  width: 100dvw;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
